
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompanGLgzjh</title>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12" style="background-color:red;">
                你的内容 
            </div>
        </div>
    </div>
</body>
</html>
