
/* 照片大小 - 不设置大小，只设置长宽比 -- 100:120 */
.jl-face {
    width: 100%;
    height: 0px;
    padding-bottom: 120%;
    overflow: hidden;
    margin: 0;
    position: relative;
    background-size:100% 100%;
}

/* 图标外层包裹 */
.jl-icon-container {
    display:inline-block;background-color:rgb(43,41,55);
    color:#fff;border-radius:30px;
    width:24px;height:24px;text-align:center;line-height:24px;
}
.jl-right .jl-icon-container {
    padding-left:2px;
    margin-right:6px;
}

/* 专业技能相关样式 */
.skill-left {
    text-align:right; padding:0 0 0 15px;
}
.skill-left .label {
    padding:.3em .6em .4em;margin:0;
    display:inline-block;width:100%;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.skill-right {
    padding:0 15px 0 4px;
}
.skill-right .progress {
    margin-bottom:18px;
}

/* 经历面板 */
.jl-panel {
    margin-left:30px;
    line-height:30px;
    position:relative;
}
.jl-panel-header {
    padding-left:10px;
    font-size:18px;
}
.jl-panel-body {
    padding:10px 10px 10px 30px;
    font-size:15px;
}
.jl-panel::before { /* 左边竖线 */
    content:'';
    display:block;
    position:absolute;
    width:0;
    left:0px;
    top:0px;
    bottom:0px;
    border:2px solid rgb(165, 165, 165);
}
.jl-panel-first::before {
    top:20px;
}
.jl-panel-last::before {
    bottom:15px;
}
.jl-panel-header {
    position:relative;
}
.jl-panel-header::before { /* 左边圆点 */
    content:'';
    display:block;
    position:absolute;
    left:-21px;
    top:7px;
    width:15px;
    height:15px;
    border-radius:20px;
    background-color:rgb(38, 38, 38);
}
/* 左边竖线情景颜色 */
.jl-panel-primary::before {  border-color:rgba(51,122, 183, 0.5); }
.jl-panel-primary .jl-panel-header::before {  background-color:rgb(51,122, 183); }

.jl-panel-danger::before { border-color:rgba(217,83, 79,0.5); }
.jl-panel-danger .jl-panel-header::before {  background-color:rgb(217,83, 79); }

.jl-panel-success::before { border-color:rgba(92,184, 92,0.5); }
.jl-panel-success .jl-panel-header::before {  background-color:rgb(92,184, 92); }

.jl-panel-warning::before { border-color:rgba(240,173, 78,0.5);}
.jl-panel-warning .jl-panel-header::before {  background-color:rgb(240,173, 78); }

.jl-panel-info::before { border-color:rgba(91,192, 222,0.5); }
.jl-panel-info .jl-panel-header::before {  background-color:rgb(91,192, 222); }

