
@{
    ViewBag.Title = "about";
}

<!-- 页标题 -->
<div class="section page-title text-center" style="background-image: url('/images/background04.jpg');">
    <div class="inner">
        <h1 class="light">关于我们</h1>
        <h3 class="light">我们是一群热爱生活，更加热爱写代码的程序猿.</h3>
    </div> <!-- end .inner -->
</div> <!-- end .section -->
<!-- 选项卡 -->
<div class="section tabs-section about-page">
    <ul class="nav nav-tabs jobpress-dynamic-tabs flex space-center items-center no-column">
        <li class="active"><a data-toggle="tab" href="#company"><i class="ion-ios-glasses-outline"></i>公司</a></li>
        <li><a data-toggle="tab" href="#how-it-works"><i class="ion-ios-cog-outline"></i>工作内容</a></li>
        <li><a data-toggle="tab" href="#team"><i class="ion-ios-person-outline"></i>团队</a></li>
        <li><a data-toggle="tab" href="#faq"><i class="ion-ios-help-empty"></i>常见问题</a></li>
        <li><a href="contact.html"><i class="ion-ios-email-outline"></i>联系我们</a></li>
    </ul> <!-- end .jobpress-dynamic-tabs -->

    <div class="tab-content jobpress-dynamic-tabs-content">

        <div id="company" class="tab-pane company-tab-content text-center fade in active">
            <div class="testimonial">
                <p>
                    <q>
                        当一件需要长期坚持的事情摆在我们面前时，我们总喜欢谈论意志力的重要性，好像只要你意志力足够强，你就能坚持到底一样。而如果你没有坚持到底，那一定是意志力的原因。我从没有相信过这种意志力的神话。在我看来，意志力是非常不可靠的，你越强调它，越依赖它，你中途放弃的可能性就越大。因为意志力总有可以承受的极限，就像一根已经绷得很紧的绳子，若是再用力的话，随时都会绷断。
                        如果我能长期坚持去做一件事，一定是这件事带给我的丰盈感和满足感超过了我的所有付出，一定是这件事日日夜夜萦绕在我的心头让我欲罢不能，一定是这件事唤起了我内心深处最强烈的兴趣。也就是说，赐予我力量的，是激情的驱动，而不是意志力的鞭策。
                    </q>
                </p>
            </div> <!-- end .testimonial -->
            <div class="core-values">
                <div class="core-values-inner">
                    <div class="container">
                        <div class="images">
                            <div class="images-inner flex space-between no-wrap items-center">
                                <div class="image-item">
                                    <img src="/images/company01.jpg" alt="company-office-images" class="img-responsive">
                                </div> <!-- end .image-item -->
                                <div class="spacer-xs-m"></div>
                                <div class="image-item">
                                    <img src="/images/company02.jpg" alt="company-office-images" class="img-responsive">
                                </div> <!-- end .image-item -->
                                <div class="spacer-xs-m"></div>
                                <div class="image-item">
                                    <img src="/images/company03.jpg" alt="company-office-images" class="img-responsive">
                                </div> <!-- end .image-item -->
                            </div> <!-- end .images-inner -->
                        </div> <!-- end .images -->
                    </div> <!-- end .container -->
                    <div class="values-text-content">
                        <div class="container">
                            <div class="values-text-content-inner flex space-around no-wrap items-center">
                                <div class="vision box">
                                    <div class="icon">
                                        <img src="/images/vision-icon.png" alt="vision-icon" class="img-responsive">
                                    </div> <!-- end .icon -->
                                    <h3 class="dark">吃</h3>
                                    <p>吃是非常重要的企业文化，当一个吃货CEO带领整个公司的吃货们开工时，没有辣条是肯定不行的.</p>
                                </div> <!-- end .vision -->
                                <div class="spacer-md-m"></div>
                                <div class="mission box">
                                    <div class="icon">
                                        <img src="/images/our-mission-icon.png" alt="our-mission-icon" class="img-responsive">
                                    </div> <!-- end .icon -->
                                    <h3 class="dark">拉</h3>
                                    <p>谁能给我一卷纸，谢谢.</p>
                                </div> <!-- end .vision -->
                                <div class="spacer-md-m"></div>
                                <div class="target box">
                                    <div class="icon">
                                        <img src="/images/our-target-icon.png" alt="our-target-icon" class="img-responsive">
                                    </div> <!-- end .icon -->
                                    <h3 class="dark">睡</h3>
                                    <p>作为企业文化最重要的环节，怎么能少了“睡”呢？你最想和谁睡？</p>
                                </div> <!-- end .vision -->

                            </div> <!-- end .values-text-content-inner -->
                        </div> <!-- end .container -->

                    </div> <!-- end .values-text-content -->
                </div> <!-- end .core-values-inner -->
                <div class="background-text">
                    <h1>核心价值观</h1>
                </div> <!-- end .background-text -->
            </div> <!-- end .core-values -->

            <div class="section team-members-section">
                <div class="inner">
                    <div class="container">
                        <h1 class="section-title text-center">公司精英成员</h1>
                        <div class="team-members-inner-row flex space-between no-column items-center">
                            <div class="team-member">
                                <img src="/images/team-member01.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">奥博特·马丁</h3>
                                    <h6 class="team-member-designation">首席CEO</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member02.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">肯尼思·特纳</h3>
                                    <h6 class="team-member-designation">程序猿 & 攻城狮</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member03.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">多萝西·科尔</h3>
                                    <h6 class="team-member-designation">程序员鼓励师</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member04.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">艾伦·施密特</h3>
                                    <h6 class="team-member-designation">迎宾 & 保安 & 会计 & 出纳 & 司机 & 吉祥物</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                        </div> <!-- end .team-inner -->
                    </div> <!-- end .container -->
                </div> <!-- end .inner -->
            </div> <!-- end .team-memebers-section -->
        </div> <!-- end .company-tab-content -->

        <div id="how-it-works" class="tab-pane how-it-works-tab-content fade">
            <div class="section">
                <div class="inner">
                    <div class="container">
                        <h3 class="text-center">工作内容</h3>
                        <p class="text-center">我们的工作内容就是写代码，你懂的！</p>
                    </div> <!-- end .container -->
                </div> <!-- end .inner -->
            </div> <!-- end .section -->
        </div> <!-- end .how-it-works-tab-content -->

        <div id="team" class="tab-pane team-tab-content fade">
            <div class="section team-members-section">
                <div class="inner">
                    <div class="container">
                        <div class="team-members-inner-row flex space-between no-column items-center">
                            <div class="team-member">
                                <img src="/images/team-member01.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">奥博特·马丁</h3>
                                    <h6 class="team-member-designation">首席CEO</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member02.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">肯尼思·特纳</h3>
                                    <h6 class="team-member-designation">程序猿 & 攻城狮</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member03.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">多萝西·科尔</h3>
                                    <h6 class="team-member-designation">程序员鼓励师</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member04.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">艾伦·施密特</h3>
                                    <h6 class="team-member-designation">迎宾 & 保安 & 会计 & 出纳 & 司机 & 吉祥物</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                        </div> <!-- end .team-inner -->

                        <div class="spacer-sm"></div>

                        <div class="team-members-inner-row flex space-between no-column items-center">
                            <div class="team-member">
                                <img src="/images/team-member01.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">奥博特·马丁</h3>
                                    <h6 class="team-member-designation">首席CEO</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member02.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">肯尼思·特纳</h3>
                                    <h6 class="team-member-designation">程序猿 & 攻城狮</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member03.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">多萝西·科尔</h3>
                                    <h6 class="team-member-designation">程序员鼓励师</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                            <div class="team-member">
                                <img src="/images/team-member04.jpg" alt="team-member-image" class="img-responsive">
                                <div class="team-member-info text-center">
                                    <h3 class="team-member-name">艾伦·施密特</h3>
                                    <h6 class="team-member-designation">迎宾 & 保安 & 会计 & 出纳 & 司机 & 吉祥物</h6>
                                    <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                        <li><a href="#0">+QQ</a></li>
                                        <li><a href="#0">+微信</a></li>
                                        <li><a href="#0">+微博</a></li>
                                        <li><a href="#0">+电话</a></li>
                                    </ul> <!-- end .social-info -->
                                </div> <!-- end .team-member-info -->
                            </div> <!-- end .team-member -->
                        </div> <!-- end .team-inner -->

                        <div class="spacer-md"></div>

                        <ul class="jobpress-custom-pager list-unstyled flex no-column space-center items-center">
                            <li><a href="#0" class="button"><i class="ion-ios-arrow-left"></i>上一页</a></li>
                            <li><a href="#0">1</a></li>
                            <li><a href="#0">2</a></li>
                            <li><a href="#0">3</a></li>
                            <li><a href="#0">4</a></li>
                            <li><a href="#0">5</a></li>
                            <li><a href="#0" class="button">下一页<i class="ion-ios-arrow-right"></i></a></li>
                        </ul>

                    </div> <!-- end .container -->
                </div> <!-- end .inner -->
            </div> <!-- end .team-members-section -->

        </div> <!-- end .team-tab-content -->

        <div id="faq" class="tab-pane faq-tab-content fade">
            <div class="section">
                <div class="inner">
                    <div class="container">
                        <h3 class="text-center">常见问题</h3>
                        <p class="text-center">不说了，我要去改 BUG 了。</p>
                    </div> <!-- end .container -->
                </div> <!-- end .inner -->
            </div> <!-- end .section -->
        </div>

    </div> <!-- end .tab-content -->
</div> <!-- end .section -->
<!-- 客户 -->
<div class="section clients-section solid-blue-bg">
    <div class="inner">
        <div class="container">
            <div class="logo-grid">
                <div class="logo-grid-row flex space-between">
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light01.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light02.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light03.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light04.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light05.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light06.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                </div> <!-- end .logo-grid-row -->
            </div> <!-- end .logo-grid -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->

