
@{
    ViewBag.Title = "jobs";
}

<!-- 工作机会 -->
<div class="section featured-jobs-section">
    <div class="inner">
        <div class="container">
            <div class="section-top-content flex items-center">
                <h1>金融 工作机会</h1>
                <a href="#category-section">查看所有工作机会<i class="ion-ios-arrow-thin-right"></i></a>
            </div> <!-- end .section-top-content -->
            <div class="jobs-table">
                <div class="table-header">
                    <div class="table-cells flex">
                        <div class="job-title-cell"><h6>工作机会 / 公司名称</h6></div>
                        <div class="job-type-cell"><h6>类型</h6></div>
                        <div class="location-cell"><h6>地点</h6></div>
                        <div class="expired-date-cell"><h6>有效时间</h6></div>
                        <div class="salary-cell"><h6>薪资待遇</h6></div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-header -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo01.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="job.html" target="_blank">网页设计师</a></h4>
                                <p class="small">上海嗨上天科技有限公司</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div> <!-- end .job-type-cell -->
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>上海</p>
                        </div> <!-- end .location-cell -->
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div> <!-- end .expire-date-cell -->
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>10k~15k/月</p>
                        </div> <!-- end .salray-cell -->
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo02.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">保姆阿姨</a></h4>
                                <p class="small">58到家</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button part-time">兼职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>杭州</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>100元/天</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo03.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">ASP.NET 软件工程师</a></h4>
                                <p class="small">微软中国</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>北京，朝阳区</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>15k~20k/月</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo04.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">任课教员</a></h4>
                                <p class="small">华瑞IT教育</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button freelancer">弹性</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>湖南，长沙</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>按课时结算</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo05.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">Java 软件工程师</a></h4>
                                <p class="small">广州快上车科技有限公司</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>广州，东莞</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>面议</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->


                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo01.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">网页设计师</a></h4>
                                <p class="small">上海嗨上天科技有限公司</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div> <!-- end .job-type-cell -->
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>上海</p>
                        </div> <!-- end .location-cell -->
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div> <!-- end .expire-date-cell -->
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>10k~15k/月</p>
                        </div> <!-- end .salray-cell -->
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo02.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">保姆阿姨</a></h4>
                                <p class="small">58到家</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button part-time">兼职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>杭州</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>100元/天</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo03.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">ASP.NET 软件工程师</a></h4>
                                <p class="small">微软中国</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>北京，朝阳区</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>15k~20k/月</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo04.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">任课教员</a></h4>
                                <p class="small">华瑞IT教育</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button freelancer">弹性</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>湖南，长沙</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>按课时结算</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo05.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">Java 软件工程师</a></h4>
                                <p class="small">广州快上车科技有限公司</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>广州，东莞</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>面议</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->


                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo01.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">网页设计师</a></h4>
                                <p class="small">上海嗨上天科技有限公司</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div> <!-- end .job-type-cell -->
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>上海</p>
                        </div> <!-- end .location-cell -->
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div> <!-- end .expire-date-cell -->
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>10k~15k/月</p>
                        </div> <!-- end .salray-cell -->
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo02.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">保姆阿姨</a></h4>
                                <p class="small">58到家</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button part-time">兼职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>杭州</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>100元/天</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo03.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">ASP.NET 软件工程师</a></h4>
                                <p class="small">微软中国</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>北京，朝阳区</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>15k~20k/月</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo04.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">任课教员</a></h4>
                                <p class="small">华瑞IT教育</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button freelancer">弹性</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>湖南，长沙</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>按课时结算</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-row">
                    <div class="table-cells flex no-wrap">
                        <div class="cell job-title-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>岗位名称</h6>
                            </div> <!-- end .cell-label -->
                            <img src="/images/company-logo05.jpg" alt="company-logo" class="img-responsive">
                            <div class="content">
                                <h4><a href="#">Java 软件工程师</a></h4>
                                <p class="small">广州快上车科技有限公司</p>
                            </div> <!-- end .content -->
                        </div> <!-- end .job-title-cell -->
                        <div class="cell job-type-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>类型</h6>
                            </div> <!-- end .cell-label -->
                            <button type="button" class="button full-time">全职</button>
                        </div>
                        <div class="cell location-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>地点</h6>
                            </div> <!-- end .cell-label -->
                            <p>广州，东莞</p>
                        </div>
                        <div class="cell expired-date-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>有效时间</h6>
                            </div> <!-- end .cell-label -->
                            <p>2017-12-31</p>
                        </div>
                        <div class="cell salary-cell flex no-column no-wrap">
                            <div class="cell-mobile-label">
                                <h6>薪资待遇</h6>
                            </div> <!-- end .cell-label -->
                            <p>面议</p>
                        </div>
                    </div> <!-- end .table-cells -->
                </div> <!-- end .table-row -->

                <div class="table-footer flex space-between items-center">
                    <h6>显示<span>1-5</span>共 23 条</h6>
                    <div class="jobpress-custom-pager list-unstyled flex space-between no-column items-center">
                        <a href="#0" class="button"><i class="ion-ios-arrow-left"></i>上一页</a>
                        <ul class="list-unstyled flex no-column items-center">
                            <li><a href="#0">1</a></li>
                            <li><a href="#0">2</a></li>
                            <li><a href="#0">3</a></li>
                            <li><a href="#0">4</a></li>
                            <li><a href="#0">5</a></li>
                        </ul>
                        <a href="#0" class="button">下一页<i class="ion-ios-arrow-right"></i></a>
                    </div> <!-- end .jobpress-custom-pager -->
                </div>
            </div> <!-- end .jobs-table -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .特色工作 -->
<!-- 分类 -->
<div id="category-section" class="section category-section solid-blue-bg">
    <div class="inner">
        <div class="container">
            <h1 class="light">浏览分类</h1>
            <div class="category-grid">
                <div class="category-row flex no-wrap space-between items-center">
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon01.png" alt="category-icon" class="img-responsive">
                        <h4>金融</h4>
                        <p class="light">4286 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon02.png" alt="category-icon" class="img-responsive">
                        <h4>建筑</h4>
                        <p class="light">452 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon03.png" alt="category-icon" class="img-responsive">
                        <h4>物流</h4>
                        <p class="light">1867 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon04.png" alt="category-icon" class="img-responsive">
                        <h4>艺术/设计</h4>
                        <p class="light">3094 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon05.png" alt="category-icon" class="img-responsive">
                        <h4>销售/采购</h4>
                        <p class="light">2955 工作机会</p>
                    </a> <!-- end .item -->
                </div> <!-- end .category-row -->

                <div class="category-row flex no-wrap space-between items-center">
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon06.png" alt="category-icon" class="img-responsive">
                        <h4>技术</h4>
                        <p class="light">470 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon07.png" alt="category-icon" class="img-responsive">
                        <h4>科技</h4>
                        <p class="light">4536 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon08.png" alt="category-icon" class="img-responsive">
                        <h4>卫生/保健</h4>
                        <p class="light">2619 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon09.png" alt="category-icon" class="img-responsive">
                        <h4>教育/培训</h4>
                        <p class="light">1132 工作机会</p>
                    </a> <!-- end .item -->
                    <a href="jobs.html" class="item">
                        <img src="/images/category-icon10.png" alt="category-icon" class="img-responsive">
                        <h4>餐饮</h4>
                        <p class="light">757 工作机会</p>
                    </a> <!-- end .item -->
                </div> <!-- end .category-row -->
            </div>	<!-- end .category-grid -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
    <div class="background-text">
        <h1>Categories</h1>
    </div> <!-- end .background-text -->
</div> <!-- end .分类 -->
<!-- 现在开始 -->
<div class="section cta-section parallax text-center" style="background-image: url('/images/background02.jpg');">
    <div class="inner">
        <div class="container">
            <h2>给自己一个机会</h2>
            <p class="large light">现在就加入央视求职网，共有100,000+工作机会在等待着您</p>
            <div class="cta-button">
                <a href="#" class="button">投递简历</a>
            </div> <!-- end .cta-button -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .现在开始 -->

@section news{
<!-- 新闻 -->
<div class="section Latest-news-section">
    <div class="inner">
        <div class="container">
            <div class="section-top-content flex items-center">
                <h1>新闻</h1>
                <a href="#">查看所有新闻<i class="ion-ios-arrow-thin-right"></i></a>
            </div> <!-- end .section-top-content -->
            <div class="news-grid">
                <div class="news-grid-row flex space-between">
                    <div class="news-item">
                        <img src="/images/news-grid01.jpg" alt="news-thumbnail" class="img-responsive">
                        <div class="news-content">
                            <div class="news-meta flex no-column">
                                <h6><a href="#0" class="news-author">记者：张三</a></h6>
                                <h6 class="publish-date">2017-02-20</h6>
                                <h6><a href="#0" class="comment-count">5 评论</a></h6>
                            </div> <!-- end .news-meta -->
                            <h3 class="news-title">多数网民称：找工作就上央视求职网，找不到工作算我输</h3>
                            <p class="news-excerpt">随着时代发展，企业对人才的要求越来越高，人们寻找工作的模式也日异月新，许多网民发现...</p>
                            <a href="#" class="button">阅读更多</a>
                        </div> <!-- end .news-content -->
                    </div> <!-- end .news-item -->
                    <div class="news-item">
                        <img src="/images/news-grid02.jpg" alt="news-thumbnail" class="img-responsive">
                        <div class="news-content">
                            <div class="news-meta flex no-column">
                                <h6><a href="#0" class="news-author">记者：张三</a></h6>
                                <h6 class="publish-date">2017-02-20</h6>
                                <h6><a href="#0" class="comment-count">5 评论</a></h6>
                            </div> <!-- end .news-meta -->
                            <h3 class="news-title">多数网民称：找工作就上央视求职网，找不到工作算我输</h3>
                            <p class="news-excerpt">随着时代发展，企业对人才的要求越来越高，人们寻找工作的模式也日异月新，许多网民发现...</p>
                            <a href="#" class="button">阅读更多</a>
                        </div> <!-- end .news-content -->
                    </div> <!-- end .news-item -->
                    <div class="news-item">
                        <img src="/images/news-grid03.jpg" alt="news-thumbnail" class="img-responsive">
                        <div class="news-content">
                            <div class="news-meta flex no-column">
                                <h6><a href="#0" class="news-author">记者：张三</a></h6>
                                <h6 class="publish-date">2017-02-20</h6>
                                <h6><a href="#0" class="comment-count">5 评论</a></h6>
                            </div> <!-- end .news-meta -->
                            <h3 class="news-title">多数网民称：找工作就上央视求职网，找不到工作算我输</h3>
                            <p class="news-excerpt">随着时代发展，企业对人才的要求越来越高，人们寻找工作的模式也日异月新，许多网民发现...</p>
                            <a href="#" class="button">阅读更多</a>
                        </div> <!-- end .news-content -->
                    </div> <!-- end .news-item -->
                </div>  <!-- end .news-grid-row -->
            </div> <!-- end .news-grid -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .新闻 -->
<!-- 合作伙伴 -->
<div class="section clients-section solid-grey-bg">
    <div class="inner">
        <div class="container">
            <h1 class="section-title">客户 & 合作伙伴</h1>
            <div class="logo-grid">
                <div class="logo-grid-row flex space-between">
                    <div class="logo-item flex">
                        <img src="/images/client-logo01.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item flex">
                        <img src="/images/client-logo02.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item flex">
                        <img src="/images/client-logo03.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item flex">
                        <img src="/images/client-logo04.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item flex">
                        <img src="/images/client-logo05.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item flex">
                        <img src="/images/client-logo06.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                </div> <!-- end .logo-grid-row -->
            </div> <!-- end .logo-grid -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .合作伙伴 -->
    }
