
@{
    ViewBag.Title = "resumes";
}

 <!-- 巨幅 -->
<div class="section resumes-section transparent" style="background-image: url('/images/background01.jpg');">
    <div class="inner">
        <div class="container">
            <div class="job-search-form">
                <h2>简历中心 - 共有<span>100,000<sup>+</sup></span>人才等待加入您的企业</h2>
                <form class="form-inline flex" action="jobs.html" method="get">
                    <div class="form-group">
                        <div class="form-group-inner">
                            <input type="text" class="form-control" id="input-field-1" name="key" placeholder="招聘要求">
                            <i class="ion-ios-briefcase-outline"></i>
                        </div>
                    </div>
                    <button type="submit" class="button"><i class="ion-ios-search-strong"></i></button>
                </form>
                <div class="keywords flex">
                    <h4 class="self-center">热门关键字:</h4>
                    <a href="jobs.html?key=前端工程师" class="button item-center">CEO</a>
                    <a href="jobs.html?key=.NET软件工程师" class="button item-center">程序员鼓励师</a>
                    <a href="jobs.html?key=Bootstrap" class="button item-center">吉祥物</a>
                </div> <!-- end .keywords -->
            </div> <!-- end .job-search-form -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .巨幅 -->
<!-- 简历列表 -->
<div class="section team-members-section">
    <div class="inner">
        <div class="container">
            <div class="section-top-content flex items-center">
                <h1>金融 简历中心</h1>
                <a href="#category-section">查看所有简历<i class="ion-ios-arrow-thin-right"></i></a>
            </div> <!-- end .section-top-content -->
            <div class="team-members-inner-row flex space-between no-column items-center">
                <div class="team-member">
                    <a href="resume.html" target="_blank">
                        <img src="/images/team-member01.jpg" alt="team-member-image" class="img-responsive">
                        <div class="team-member-info text-center">
                            <h3 class="team-member-name">奥博特·马丁</h3>
                            <h6 class="team-member-designation">意向岗位：首席CEO</h6>
                            <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                <li><a href="#0">+QQ</a></li>
                                <li><a href="#0">+微信</a></li>
                                <li><a href="#0">+微博</a></li>
                                <li><a href="#0">+电话</a></li>
                            </ul> <!-- end .social-info -->
                        </div> <!-- end .team-member-info -->
                    </a>
                </div> <!-- end .team-member -->
                <div class="team-member">
                    <img src="/images/team-member02.jpg" alt="team-member-image" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h3 class="team-member-name">肯尼思·特纳</h3>
                        <h6 class="team-member-designation">意向岗位：程序猿 & 攻城狮</h6>
                        <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                            <li><a href="#0">+QQ</a></li>
                            <li><a href="#0">+微信</a></li>
                            <li><a href="#0">+微博</a></li>
                            <li><a href="#0">+电话</a></li>
                        </ul> <!-- end .social-info -->
                    </div> <!-- end .team-member-info -->
                </div> <!-- end .team-member -->
                <div class="team-member">
                    <img src="/images/team-member03.jpg" alt="team-member-image" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h3 class="team-member-name">多萝西·科尔</h3>
                        <h6 class="team-member-designation">意向岗位：程序员鼓励师</h6>
                        <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                            <li><a href="#0">+QQ</a></li>
                            <li><a href="#0">+微信</a></li>
                            <li><a href="#0">+微博</a></li>
                            <li><a href="#0">+电话</a></li>
                        </ul> <!-- end .social-info -->
                    </div> <!-- end .team-member-info -->
                </div> <!-- end .team-member -->
                <div class="team-member">
                    <img src="/images/team-member04.jpg" alt="team-member-image" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h3 class="team-member-name">艾伦·施密特</h3>
                        <h6 class="team-member-designation">意向岗位：迎宾 & 保安 & 会计 & 出纳 & 吉祥物</h6>
                        <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                            <li><a href="#0">+QQ</a></li>
                            <li><a href="#0">+微信</a></li>
                            <li><a href="#0">+微博</a></li>
                            <li><a href="#0">+电话</a></li>
                        </ul> <!-- end .social-info -->
                    </div> <!-- end .team-member-info -->
                </div> <!-- end .team-member -->
            </div> <!-- end .team-inner -->

            <div class="spacer-sm"></div>

            <div class="team-members-inner-row flex space-between no-column items-center">
                <div class="team-member">
                    <a href="resume.html" target="_blank">
                        <img src="/images/team-member01.jpg" alt="team-member-image" class="img-responsive">
                        <div class="team-member-info text-center">
                            <h3 class="team-member-name">奥博特·马丁</h3>
                            <h6 class="team-member-designation">意向岗位：首席CEO</h6>
                            <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                                <li><a href="#0">+QQ</a></li>
                                <li><a href="#0">+微信</a></li>
                                <li><a href="#0">+微博</a></li>
                                <li><a href="#0">+电话</a></li>
                            </ul> <!-- end .social-info -->
                        </div> <!-- end .team-member-info -->
                    </a>
                </div> <!-- end .team-member -->
                <div class="team-member">
                    <img src="/images/team-member02.jpg" alt="team-member-image" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h3 class="team-member-name">肯尼思·特纳</h3>
                        <h6 class="team-member-designation">意向岗位：程序猿 & 攻城狮</h6>
                        <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                            <li><a href="#0">+QQ</a></li>
                            <li><a href="#0">+微信</a></li>
                            <li><a href="#0">+微博</a></li>
                            <li><a href="#0">+电话</a></li>
                        </ul> <!-- end .social-info -->
                    </div> <!-- end .team-member-info -->
                </div> <!-- end .team-member -->
                <div class="team-member">
                    <img src="/images/team-member03.jpg" alt="team-member-image" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h3 class="team-member-name">多萝西·科尔</h3>
                        <h6 class="team-member-designation">意向岗位：程序员鼓励师</h6>
                        <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                            <li><a href="#0">+QQ</a></li>
                            <li><a href="#0">+微信</a></li>
                            <li><a href="#0">+微博</a></li>
                            <li><a href="#0">+电话</a></li>
                        </ul> <!-- end .social-info -->
                    </div> <!-- end .team-member-info -->
                </div> <!-- end .team-member -->
                <div class="team-member">
                    <img src="/images/team-member04.jpg" alt="team-member-image" class="img-responsive">
                    <div class="team-member-info text-center">
                        <h3 class="team-member-name">艾伦·施密特</h3>
                        <h6 class="team-member-designation">意向岗位：迎宾 & 保安 & 会计 & 出纳 & 吉祥物</h6>
                        <ul class="list-unstyled social-info flex no-column no-wrap space-center">
                            <li><a href="#0">+QQ</a></li>
                            <li><a href="#0">+微信</a></li>
                            <li><a href="#0">+微博</a></li>
                            <li><a href="#0">+电话</a></li>
                        </ul> <!-- end .social-info -->
                    </div> <!-- end .team-member-info -->
                </div> <!-- end .team-member -->
            </div> <!-- end .team-inner -->

            <div class="spacer-md"></div>

            <ul class="jobpress-custom-pager list-unstyled flex no-column space-center items-center">
                <li><a href="#0" class="button"><i class="ion-ios-arrow-left"></i>上一页</a></li>
                <li><a href="#0">1</a></li>
                <li><a href="#0">2</a></li>
                <li><a href="#0">3</a></li>
                <li><a href="#0">4</a></li>
                <li><a href="#0">5</a></li>
                <li><a href="#0" class="button">下一页<i class="ion-ios-arrow-right"></i></a></li>
            </ul>

        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .team-members-section -->
<!-- 分类 -->
<div id="category-section" class="section category-section solid-blue-bg">
    <div class="inner">
        <div class="container">
            <h1 class="light">浏览分类</h1>
            <div class="category-grid">
                <div class="category-row flex no-wrap space-between items-center">
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon01.png" alt="category-icon" class="img-responsive">
                        <h4>金融</h4>
                        <p class="light">4286 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon02.png" alt="category-icon" class="img-responsive">
                        <h4>建筑</h4>
                        <p class="light">452 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon03.png" alt="category-icon" class="img-responsive">
                        <h4>物流</h4>
                        <p class="light">1867 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon04.png" alt="category-icon" class="img-responsive">
                        <h4>艺术/设计</h4>
                        <p class="light">3094 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon05.png" alt="category-icon" class="img-responsive">
                        <h4>销售/采购</h4>
                        <p class="light">2955 份简历</p>
                    </a> <!-- end .item -->
                </div> <!-- end .category-row -->

                <div class="category-row flex no-wrap space-between items-center">
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon06.png" alt="category-icon" class="img-responsive">
                        <h4>技术</h4>
                        <p class="light">470 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon07.png" alt="category-icon" class="img-responsive">
                        <h4>科技</h4>
                        <p class="light">4536 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon08.png" alt="category-icon" class="img-responsive">
                        <h4>卫生/保健</h4>
                        <p class="light">2619 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon09.png" alt="category-icon" class="img-responsive">
                        <h4>教育/培训</h4>
                        <p class="light">1132 份简历</p>
                    </a> <!-- end .item -->
                    <a href="resumes.html" class="item">
                        <img src="/images/category-icon10.png" alt="category-icon" class="img-responsive">
                        <h4>餐饮</h4>
                        <p class="light">757 份简历</p>
                    </a> <!-- end .item -->
                </div> <!-- end .category-row -->
            </div>	<!-- end .category-grid -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
    <div class="background-text">
        <h1>Categories</h1>
    </div> <!-- end .background-text -->
</div> <!-- end .分类 -->
<!-- 客户 -->
<div class="section clients-section solid-blue-bg">
    <div class="inner">
        <div class="container">
            <div class="logo-grid">
                <div class="logo-grid-row flex space-between">
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light01.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light02.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light03.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light04.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light05.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                    <div class="logo-item solid-blue flex">
                        <img src="/images/client-logo-light06.png" alt="client-company-logo" class="img-responsive self-center">
                    </div> <!-- end .logo-item -->
                </div> <!-- end .logo-grid-row -->
            </div> <!-- end .logo-grid -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->

